# Python
__pycache__/
*.pyc
.env
venv/
.venv/

# YOLO generated outputs
runs/
*.cache

# Large files
*.mp4
*.avi
*.mov
*.mkv
*.pt

# Jupyter checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db
# Generated UI outputs
outputs/

# Streamlit temp/cache
.streamlit/secrets.toml

# Large model and video files
*.pt
*.mp4
*.avi
*.mov
*.mkv
runs/
input_videos/